UKHO.WCF.ClientLib/Connected Services/ukhowcfservice/SubmitUKHOOrdering1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://enavigator.ukho.gov.uk/1.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://enavigator.ukho.gov.uk/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://enavigator.ukho.gov.uk/1.0/Imports">
      <xsd:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd0" namespace="https://enavigator.ukho.gov.uk/1.0" />
      <xsd:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Messages" />
      <xsd:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Common" />
      <xsd:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts" />
      <xsd:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderingService_SubmitOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderingService_SubmitOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderingService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderingService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderingService_GetHoldings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHoldings" />
  </wsdl:message>
  <wsdl:message name="IOrderingService_GetHoldings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHoldingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderingService">
    <wsdl:operation name="SubmitOrder">
      <wsdl:input wsaw:Action="https://enavigator.ukho.gov.uk/1.0/IOrderingService/SubmitOrder" message="tns:IOrderingService_SubmitOrder_InputMessage" />
      <wsdl:output wsaw:Action="https://enavigator.ukho.gov.uk/1.0/IOrderingService/SubmitOrderResponse" message="tns:IOrderingService_SubmitOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="https://enavigator.ukho.gov.uk/1.0/IOrderingService/GetOrder" message="tns:IOrderingService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="https://enavigator.ukho.gov.uk/1.0/IOrderingService/GetOrderResponse" message="tns:IOrderingService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHoldings">
      <wsdl:input wsaw:Action="https://enavigator.ukho.gov.uk/1.0/IOrderingService/GetHoldings" message="tns:IOrderingService_GetHoldings_InputMessage" />
      <wsdl:output wsaw:Action="https://enavigator.ukho.gov.uk/1.0/IOrderingService/GetHoldingsResponse" message="tns:IOrderingService_GetHoldings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>