UKHO.WCF.ClientLib/Connected Services/ukhowcfservice/SubmitUKHOOrdering1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd0" namespace="https://enavigator.ukho.gov.uk/1.0" />
  <xs:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Common" />
  <xs:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts" />
  <xs:import schemaLocation="https://adstrn.ukho.gov.uk/ServiceB2B/SubmitUKHOOrdering.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="SubmitOrderRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Common" base="q1:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q2="https://enavigator.ukho.gov.uk/1.0" minOccurs="0" name="Order" nillable="true" type="q2:Order" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubmitOrderRequest" nillable="true" type="tns:SubmitOrderRequest" />
  <xs:complexType name="SubmitOrderResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Common" base="q3:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:int" />
          <xs:element minOccurs="0" name="OrderId" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts" minOccurs="0" name="OrderStatus" nillable="true" type="q4:ArrayOfOrderItemStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubmitOrderResponse" nillable="true" type="tns:SubmitOrderResponse" />
  <xs:complexType name="GetOrderRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Common" base="q5:RequestBase">
        <xs:sequence>
          <xs:element name="DistributorID" type="xs:int" />
          <xs:element name="OrderID" type="xs:int" />
          <xs:element name="OrderReference" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts" name="ProductServiceType" type="q6:ServiceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOrderRequest" nillable="true" type="tns:GetOrderRequest" />
  <xs:complexType name="GetOrderResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Common" base="q7:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Download" nillable="true" type="q8:MemoryStream" />
          <xs:element minOccurs="0" name="OrderID" type="xs:int" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts" minOccurs="0" name="OrderStatus" type="q9:OrderStatus" />
          <xs:element minOccurs="0" name="VesselName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOrderResponse" nillable="true" type="tns:GetOrderResponse" />
  <xs:complexType name="GetHoldingRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Common" base="q10:RequestBase">
        <xs:sequence>
          <xs:element name="DistributorID" type="xs:int" />
          <xs:element name="LicenceID" type="xs:int" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts" name="ProductType" type="q11:ServiceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetHoldingRequest" nillable="true" type="tns:GetHoldingRequest" />
  <xs:complexType name="GetHoldingResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts.Common" base="q12:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UKHO.B2B.Contracts" minOccurs="0" name="Holdings" nillable="true" type="q13:ArrayOfHolding" />
          <xs:element minOccurs="0" name="LicenceID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetHoldingResponse" nillable="true" type="tns:GetHoldingResponse" />
</xs:schema>